.banner {
  position: relative;
}

.banner h2 {
  position: absolute;
  top: 40%;
  color: white;
  width: 100%;
  font-size: 50px;
}

.banner p {
  position: absolute;
  top: 35%;
  color: rgb(255, 196, 0);
  width: 100%;
  font-size: 30px;
}

.artist-cards-container,
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
